{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}

    <div class="flex flex-col items-center justify-center h-full text-xl text-cold-white">
        <div class="w-fit">
            <div class="shadow-lg shadow-smoked-violet bg-smoked-violet rounded-tl-md rounded-tr-md">
                <h1 class="text-center text-5xl font-semibold p-2">Sign in to ORION</h1>
            </div>
            <div class="flex flex-col items-center text-center shadow-lg shadow-smoked-violet rounded-bl-md rounded-br-md bg-ink-stone p-2 font-semibold">
                <form method="post">
                    {% if error %}
                        <div class="text-red-600">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                    {% endif %}

                    {% if app.user %}
                        <div class="mb-3">
                            You are logged in as {{ app.user.userIdentifier }}, <a href="{{ logout_path() }}">Logout</a>
                        </div>
                    {% endif %}

                    <label for="username">Your username</label>
                    <input type="text" value="{{ last_username }}" name="_username" id="username" class='form-control flex flex-col m-2 border border-muted-iris bg-fog-grey text-black rounded-md p-2' autocomplete="username" required autofocus>
                    <label for="password">Your password</label>
                    <input type="password" name="_password" id="password" class='form-control flex flex-col m-2 border border-muted-iris bg-fog-grey text-black rounded-md p-2' autocomplete="current-password" required>
                    <input type="hidden" name="_csrf_token" data-controller="csrf-protection" value="{{ csrf_token('authenticate') }}">

                    {#
                    Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
                    See https://symfony.com/doc/current/security/remember_me.html

                    <div class="checkbox mb-3">
                        <input type="checkbox" name="_remember_me" id="_remember_me">
                        <label for="_remember_me">Remember me</label>
                    </div>
                    #}

                    <button class="border border-dust-plum bg-smoked-violet hover:bg-faded-amethyst p-2 rounded-2xl cursor-pointer w-full" type="submit">
                        Sign in
                    </button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
