<!DOCTYPE html>
<html lang="en" class="m-2 h-full">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}ORION - World builder tool{% endblock %}</title>
        <link rel="icon" href="{{ asset('build/images/icon.svg') }}">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
        <script src="https://kit.fontawesome.com/502d1754c4.js" crossorigin="anonymous"></script>
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body class="bg-night-paper font-[Inter] h-full" data-turbo="false">
        <div class="flex justify-center text-cold-white items-center">
            <a href="{{ path('app_home') }}">
                <p class="text-5xl cursor-pointer font-semibold hover:text-spun-pearl">
                    <i class="fa-solid fa-book text-fog-grey"></i>ORION
                </p>
            </a>
            {% if world.title ?? false %}
            <a class="flex flex-1 justify-center text-6xl hover:text-spun-pearl cursor-pointer font-bold">
                <p>{{ world.title }}</p>
            </a>
            {% endif %}
            {% if app.user %}
                <div class="flex ml-auto justify-end items-center gap-5 mx-5">
                    <div class="relative group">
                        <button class="text-cold-white hover:text-spun-pearl transition-colors duration-200 flex items-center cursor-pointer">
                            {{ app.user.firstname }} {{ app.user.lastname }}
                            <i class="fas fa-chevron-down ml-1 text-xs"></i>
                        </button>
                        <div class="absolute left-0 mt-2 w-56 text-cold-white opacity-0 invisible group-hover:opacity-100 group-hover:visible transition-all duration-200 z-50">
                            <a href="{{ path('app_home') }}" class="flex items-center px-4 py-3 rounded-t-lg transition-colors hover:text-spun-pearl">
                                <i class="fa-solid fa-earth-{{ app.user.continent.value}} me-1"></i>My Worlds
                            </a>
                            <a href="{{ path('app_home') }}" class="flex items-center px-4 py-3 rounded-b-lg transition-colors hover:text-spun-pearl">
                                <i class="fa-solid fa-user me-1"></i> My Profile
                            </a>
                            <a href="{{ path('app_home') }}" class="flex items-center px-4 py-3 rounded-b-lg transition-colors hover:text-spun-pearl">
                                <i class="fa-solid fa-gear me-1"></i> My Settings
                            </a>
                        </div>
                    </div>
                    <a href="{{ path('app_logout') }}" class="border border-spun-pearl rounded-md p-2 cursor-pointer hover:bg-soft-ash hover:text-ink-stone">
                        <p>Log Out</p>
                    </a>
                </div>
            {% else %}
                <div class="flex ml-auto justify-end items-center gap-5 mx-5">
                    <a href="{{ path('app_sign_in') }}" class="cursor-pointer hover:text-spun-pearl">
                        <p>Sign In</p>
                    </a>
                    <a href="{{ path('app_sign_up') }}" class="border border-spun-pearl rounded-md p-2 cursor-pointer hover:bg-soft-ash hover:text-ink-stone">
                        <p>Sign Up</p>
                    </a>
                </div>
            {% endif %}
        </div>
        {% block body %}{% endblock %}
        <footer class="flex flex-col bg-ink-stone items-center p-5 text-cold-white text-lg">
            <p>© 2026 {{ "now"|date("Y") != "2026" ? ['-', "now"|date("Y")]|join() : ""}}
                <a href="https://github.com/HikariYlan" class="text-faded-amethyst hover:text-muted-iris"><i class="fa-brands fa-github text-black me-1"></i> Hikari / Ylan</a>
            </p>
            <p>Made with <i class="fa-solid fa-heart text-red-600"></i> & <a href="https://symfony.com" class="text-faded-amethyst hover:text-muted-iris">Symfony</a></p>
        </footer>
    </body>
</html>
